---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
stringData:
  SECRET_DOMAIN: "#{ cloudflare_domain }#"
  CF_ACCOUNT_ID: "#{ cloudflare_account_id }#"
  CF_API_TOKEN: "#{ cloudflare_token }#"
  CF_EMAIL: "#{ cloudflare_email }#"
